.chart {
  padding: 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.104);
  box-shadow: 0 4px 30px rgba(47, 47, 47, 0.1);
  backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.089);
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
